<div class="mt-5">
  <%= link_to "Review Terms of Service", new_confirmation_path, data: {remote: "true", type: "cable-modal"} %>
</div>

rendered at <%= Time.current.to_s %>

<%= render "cable_modal/frame" %>
